/* nav{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
} */

header{
	background-color: #3a3a3a;
	text-align: center;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 2;
}
.announcement-bar__message{
	color: #ffffff;
	font-weight: bold;
	padding: 15px 22px;
	margin: 0;
}
.bannerContainer{
	position: relative;
	width: 100vw;
	height: 66.5vw;
	max-height: 600px;
	background-color: white;
	background-image: url("../img/slide1.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.bannerContainer2{
	height: 45.5vw;
	background-image: url("../img/slide4.jpg");
}
.bannerContainer p{
	color: white;
	font-weight: bold;	
	z-index: 1;
	width: 60%;
	font-size: 2vw;
}
.bannerInner{
	position: relative;
	display: table-cell;
	vertical-align: middle;
}
.opacity{
	position: absolute;
	top: 0;right: 0;bottom: 0;left: 0;
	background-color: rgba(73, 73, 73, 0.35);
	z-index: 0;
}
.bannerLargeText{
	box-sizing: border-box;
	width: 80vw;
	color: rgb(239, 239, 239);
	font-size: 5vw;
	font-weight: bold;
	padding: 2vw 8vw 2vw 8vw;
	z-index: 1;
}
.clickHere{
	background-color: #3a3a3a;
	height: 40px;
	width: 100px;
	color: white;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
	z-index: 1;
}
.clickHere:hover{
	cursor: pointer;
}
#microDosing{
	display: inline-flex;
	align-items: center;
}
#microDosing div p{
width: 70%;
}
#microDosingImg{
	margin: 30px 20px;
	width: 40vw;
	height: 35vw;
	background-image: url("../img/Microdose.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.testimonial{
	width: 100vw;
	height: auto;
	display: inline-flex;
	justify-content: space-around;
}
.testimonial div{
	padding: 45px 10px;
	text-align: center;
	width: 30vw;
	height: auto;
	min-height: 200px;
}
#fourImages{
display: inline-flex;
justify-content: center;
width: 100vw;
}
#fourImages div{
background-repeat: no-repeat;
background-size: cover;
background-position: center;
overflow: hidden;
width: 25vw;
height: 430px;
}
#fourImages1{
background-image: url("../img/slide1.jpg");
}
#fourImages2{
background-image: url("../img/slide4.jpg");
}
#fourImages3{
background-image: url("../img/slide2.jpg");
}
#fourImages4{
background-image: url("../img/slide3.jpg");
}

#products{
	text-align: left;

}
#products li{
	list-style: none;
	height: 300px;
    width: 200px;
    margin-right: 0.5%;
    background: #fafafa;
	padding: 5px;
}
#products li:hover{
	cursor:pointer;
}
#products h1{
	text-align: center;
}
#products ul{
	width: 100%;
	justify-content: center;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#products div{
height: 60%;
width: auto;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

#product1{
	background-image: url("../img/avery.jpg");
}
#product2{
	background-image: url("../img/slide1.jpg");
}
#product3{
	background-image: url("../img/slide2.jpg");
}
#product4{
	background-image: url("../img/slide4.jpg");
}

#faq{
	display: flex;
	justify-content: center;
	width: 70%;
	width: 100%;
	height: auto;
}
#faq div{
	width: 70%;
}
#faq h1{
	margin-bottom: 50px;
}
#faq h6:hover{
	cursor: pointer;
}

/*
#faq1A, #faq2A, #faq3A, #faq4A{
	background-color: rgba(211, 211, 211, 0.87);
	overflow: hidden;
	transition: max-height 0.15s ease-out;
}*/


.faqHide{
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    background: rgba(165, 165, 165, 0.2);
}
.faqShow{
    max-height: 500px;
    transition: max-height 0.25s ease-in;
}

footer{
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	height: 100px;
}
footer div{
	display: inline-flex;
}
.emailInput{
	width: 300px;
}