header{
	background-color: #3a3a3a;
	border-bottom: 1px solid transparent;
	text-align: center;
	padding: 2px;
	position: relative;
}
.announcement-bar__message{
	color: #ffffff;
	font-weight: bold;
	padding: 11px 22px;
}